.background {
  color: #1F3055;
}
.num {
  color: #b3ee3a;
}
.sng {
  color: #cccccc;
}
.com {
  color: #9e9e9e;
}
.opt {
  color: #b2dfee;
}
.def {
  color: #b2dfee;
}
.kwa {
  color: #cd919e;
}
.kwb {
  color: #ff4400;
}
.kwc {
  color: #9ecc91;
}
.kwd {
  color: #edc1b2;
}
