.background {
  color: #202020;
}
.num {
  color: #87df71;
}
.sng {
  color: #87df71;
}
.com {
  color: #d0d0a0;
}
.opt {
  color: #d0d0d0;
}
.def {
  color: #d0d0d0;
}
.kwa {
  color: #7ec0ee;
  font-weight: bold;
}
.kwb {
  color: #f09479;
  font-weight: bold;
}
.kwc {
  color: #87ed7e;
}
.kwd {
  color: #e47eed;
}
