.knitr {
  background-color: #F7F7F7;
  border:solid 1px #B0B0B0;
}
.error {
	font-weight: bold;
	color: #FF0000;
}, 
.warning {
	font-weight: bold;
} 
.message {
	font-style: italic;
} 
.source, .output, .warning, .error, .message {
	padding: 0.5em 1em;
}
