.background {
  color: #eeeeee;
}
.num {
  color: #800080;
  font-weight: bold;
}
.str {
  color: #a68500;
}
.com {
  color: #ff8000;
}
.opt {
  color: #ff0080;
  font-weight: bold;
}
.std {
  color: #000000;
}
.kwa {
  color: #bb7977;
  font-weight: bold;
}
.kwb {
  color: #8080c0;
  font-weight: bold;
}
.kwc {
  color: #0080c0;
}
.kwd {
  color: #004466;
}
