.number{
	color: #800080 ;
}

.functioncall{
	color: #0080c0 ;
}

.string{
	color: #a68500 ;
}

.keyword{
	font-weight: bolder ;
	color: #bb7977;
}

.argument{
	color: #000000 ;
}

.comment{
	color: #ff8000 ;
}

.roxygencomment{
	color: #ff8000;
}

.formalargs{
	color: #000000;
}

.eqformalargs{
	color: #000000;
}

.assignement{
	font-weight: bolder;
	color: #000000;
}

.package{
	color: ;
}

.slot{
	font-style:italic;
	color: #000000;
}

.symbol{
	color: #ff0080 ;
}

.prompt{
	color: #000000 ;
}

