.background {
  color: #600000;
}
.num {
  color: #88ddee;
}
.str {
  color: #ffcc88;
}
.com {
  color: #ffffff;
  font-style: italic;
}
.opt {
  color: #ffcc33;
}
.std {
  color: #f08080;
}
.kwa {
  color: #eeff99;
  font-weight: bold;
}
.kwb {
  color: #88ffaa;
}
.kwc {
  color: #aa99ff;
}
.kwd {
  color: #f0b77f;
}
