.background {
  color: #0f0f0f;
}
.num {
  color: #dfaf87;
}
.sng {
  color: #ffff77;
}
.com {
  color: #33ff00;
}
.opt {
  color: #ff00cc;
}
.def {
  color: #f0f0f0;
}
.kwa {
  color: #66aaff;
}
.kwb {
  color: #66ff99;
}
.kwc {
  color: #cc9966;
}
.kwd {
  color: #ff99aa;
}
