.background {
  color: #323232;
}
.num {
  color: #ffa0a0;
}
.sng {
  color: #ffa0a0;
}
.com {
  color: #ffa500;
}
.opt {
  color: #dedede;
}
.def {
  color: #dedede;
}
.kwa {
  color: #f0e68c;
}
.kwb {
  color: #bdb66b;
}
.kwc {
  color: #8b95f0;
}
.kwd {
  color: #f25252;
}
