.background {
  color: #fff4e8;
}
.num {
  color: #00884c;
}
.sng {
  color: #00884c;
}
.com {
  color: #ff5050;
}
.opt {
  color: #404040;
}
.def {
  color: #404040;
}
.kwa {
  color: #80a030;
}
.kwb {
  color: #b06c58;
}
.kwc {
  color: #30a188;
}
.kwd {
  color: #990000;
}
