
.background{
  color: #11121a ;
}
.number{
	color: #4580b4 ;
}

.functioncall{
    font-weight: 'bolder' ;
	color: #a9fcf7 ;
}

.string{
	color: #5c78f0 ;
}

.keyword{
	font-weight: bolder ;
	color: #fca8ad;
}

.argument{
	color: #a0b4e0 ;
}

.comment{
	color: #349d58 ;
}

.roxygencomment{
	color: #349d58;
}

.formalargs{
	color: #a0b4e0;
}

.eqformalargs{
	color: #a0b4e0;
}

.assignement{
	color: #a0b4e0;
}

.package{
  font-weight: bolder;
	color: #0490e8;
}

.slot{
	font-style:italic;
	color: #a0b4e0;
}

.symbol{
	color: #b0b0b0 ;
}

.prompt{
	color: #a0b4e0 ;
}

