.background {
  color: #11121a;
}
.num {
  color: #4580b4;
}
.str {
  color: #5c78f0;
}
.com {
  color: #349d58;
}
.opt {
  color: #b0b0b0;
}
.std {
  color: #a0b4e0;
}
.kwa {
  color: #fca8ad;
}
.kwb {
  color: #0490e8;
  font-weight: bold;
}
.kwc {
  color: #a9fcf7;
}
.kwd {
  color: #b4e09f;
}
