.background {
  color: #ffffff;
}
.num {
  color: #1094a0;
}
.sng {
  color: #1094a0;
}
.com {
  color: #969696;
}
.opt {
  color: #323232;
}
.def {
  color: #323232;
}
.kwa {
  color: #3b6ac8;
}
.kwb {
  color: #a00050;
}
.kwc {
  color: #00a150;
}
.kwd {
  color: #c73a69;
}
