.background {
  color: #d6d6d6;
}
.num {
  color: #b85d00;
}
.sng {
  color: #d10000;
}
.com {
  color: #0000c3;
}
.opt {
  color: #000000;
}
.def {
  color: #000000;
}
.kwa {
  color: #00007f;
}
.kwb {
  color: #540054;
  font-weight: bold;
}
.kwc {
  color: #005400;
}
.kwd {
  color: #002a54;
}
