.background {
  color: #0f020a;
}
.num {
  color: #0083c9;
}
.sng {
  color: #eba236;
}
.com {
  color: #35d6e5;
  font-style: italic;
}
.opt {
  color: #e3d922;
}
.def {
  color: #d62b9a;
}
.kwa {
  color: #20c79d;
  font-weight: bold;
}
.kwb {
  color: #1d9617;
  font-weight: bold;
}
.kwc {
  color: #72d42c;
  font-weight: bold;
}
.kwd {
  color: #81e535;
  font-weight: bold;
}
