.background {
  color: #000000;
}
.num {
  color: #cc3366;
}
.sng {
  color: #cfc631;
}
.com {
  color: #c47b6a;
  font-style: italic;
}
.opt {
  color: #ccc6c6;
}
.def {
  color: #22a0d6;
}
.kwa {
  color: #1ededc;
  font-weight: bold;
}
.kwb {
  color: #c06cf8;
  font-weight: bold;
}
.kwc {
  color: #00ff99;
}
.kwd {
  color: #1ceddc;
}
