.background {
  color: #005c70;
}
.num {
  color: #60ffff;
}
.str {
  color: #60ffff;
}
.com {
  color: #c8d0d0;
}
.opt {
  color: #ffffff;
}
.std {
  color: #ffffff;
}
.kwa {
  color: #ffff80;
}
.kwb {
  color: #80ffa0;
}
.kwc {
  color: #7f7fff;
}
.kwd {
  color: #ff7fff;
}
