.background {
  color: #ffffff;
}
.num {
  color: #32ba06;
}
.str {
  color: #1861a7;
}
.com {
  color: #006633;
}
.opt {
  color: #555555;
}
.std {
  color: #330066;
}
.kwa {
  color: #ff3030;
}
.kwb {
  color: #F48C23;
}
.kwc {
  color: #0000ff;
}
.kwd {
  color: #d11ced;
}
