.background {
  color: #ffffff;
}
.num {
  color: #303030;
}
.str {
  color: #404040;
}
.com {
  font-style: italic;
  color: #707070;
}
.opt {
   color: #202020;
}
.std {
  color: #202020;
}
.kwa {
  color: #202020;
}
.kwb {
  color: #202020;
}
.kwc {
  color: #404040;
}
.kwd {
  font-weight: bold;
  color: #404040;
}
