.background {
  color: #232323;
}
.num {
  color: #d2691e;
}
.sng {
  color: #ffe4b5;
}
.com {
  color: #d2b48c;
}
.opt {
  color: #ffe4c4;
}
.def {
  color: #ffe4c4;
}
.kwa {
  color: #f0e68c;
}
.kwb {
  color: #cdc673;
}
.kwc {
  color: #c7f08b;
}
.kwd {
  color: #ffc7c4;
}
