.background {
  color: #000000;
}
.num {
  color: #90d0ff;
}
.str {
  color: #90d0ff;
}
.com {
  color: #c0c0d0;
  font-style: italic;
}
.opt {
  color: #f0f0f8;
}
.std {
  color: #f0f0f8;
}
.kwa {
  color: #ffa0ff;
}
.kwb {
  color: #ffc864;
}
.kwc {
  color: #ffffa1;
}
.kwd {
  color: #ff5c33;
}
