.background {
  color: #000000;
}
.num {
  color: #ee0000;
}
.str {
  color: #cd2626;
}
.com {
  color: #008b8b;
}
.opt {
  color: #cdaf96;
}
.std {
  color: #cdaf96;
}
.kwa {
  color: #cdad00;
}
.kwb {
  color: #66cd00;
}
.kwc {
  color: #cc0085;
}
.kwd {
  color: #cccccc;
}
