
.background{
  color: #000000 ;
}
.number{
  color: #ee0000 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #cc0085 ;
}

.string{
  color: #cd2626 ;
}

.keyword{
  font-weight: bolder ;
  color: #cdad00;
}
.argument{
  color: #cdaf96 ;
}
.comment{
  color: #008b8b ;
}
.roxygencomment{
  color: #008b8b;
}
.formalargs{
  color: #cdaf96;
}
.eqformalargs{
  color: #cdaf96;
}
.assignement{
  color: #cdaf96;
}
.package{
  font-weight: bolder;
  color: #66cd00;
}
.slot{
  font-style:italic;
  color: #cdaf96;
}
.symbol{
  color: #cdaf96 ;
}
.prompt{
  color: #cdaf96 ;
}

