.background {
  color: #000040;
}
.num {
  color: #42cad9;
}
.str {
  color: #ffa0a0;
}
.com {
  color: #80a0ff;
}
.opt {
  color: #bababa;
}
.std {
  color: #ffffff;
}
.kwa {
  color: #e2e825;
}
.kwb {
  color: #60ff60;
}
.kwc {
  color: #e88d25;
}
.kwd {
  color: #e825e2;
  font-weight: bold;
}
