.background {
  color: #000000;
}
.num {
  color: #619de7;
}
.str {
  color: #abab00;
  font-weight: bold;
}
.com {
  color: #008888;
}
.opt {
  color: #ff00ff;
}
.std {
  color: #ffffff;
}
.kwa {
  color: #ffff00;
  font-weight: bold;
}
.kwb {
  color: #00ff00;
}
.kwc {
  color: #26e0e7;
}
.kwd {
  color: #f34627;
}
