.background{
  color: #000000 ;
}
.number{
	color: #619de7 ;
}

.functioncall{
	color: #26e0e7 ;
}

.string{
	color: #abab00 ;
}

.keyword{
	font-weight: bolder ;
	color: #ffff00;
}

.argument{
	color: #ffffff ;
}

.comment{
	color: #008888 ;
}

.roxygencomment{
	color: #008888;
}

.formalargs{
	color: #ffffff;
}

.eqformalargs{
	color: #ffffff;
}

.assignement{
	font-weight: bolder;
	color: #ffffff;
}

.package{
	color: ;
}

.slot{
	font-style:italic;
	color: #ffffff;
}

.symbol{
	color: #ff00ff ;
}

.prompt{
	color: #ffffff ;
}

