.background {
  color: #000000;
}
.num {
  color: #d0e080;
}
.sng {
  color: #d0e080;
}
.com {
  color: #606080;
}
.opt {
  color: #cccccc;
}
.def {
  color: #a0a0c0;
}
.kwa {
  color: #8090f0;
}
.kwb {
  color: #e0e0ff;
}
.kwc {
  color: #7ff0a6;
}
.kwd {
  color: #9fbfaf;
}
