.background {
  color: #2A2A2A;
}
.num {
  color: #fce94f;
}
.str {
  color: #fce94f;
}
.com {
  color: #8a8a8a;
}
.opt {
  color: #efefef;
}
.std {
  color: #efefef;
}
.kwa {
  color: #ffffff;
  font-weight: bold;
}
.kwb {
  color: #8ae234;
  font-weight: bold;
}
.kwc {
  color: #34e3e3;
}
.kwd {
  color: #efefef;
}
