.background{
  color: #2f4f4f ;
}
.number{
  color: #ff6347 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #b57847 ;
}
.string{
  color: #7fffd4 ;
}
.keyword{
  font-weight: bolder ;
  color: #4682b4;
}
.argument{
  color: #f5deb3 ;
}
.comment{
  color: #da70d6 ;
}
.roxygencomment{
  color: #da70d6;
}
.formalargs{
  color: #f5deb3;
}
.eqformalargs{
  color: #f5deb3;
}
.assignement{
  color: #f5deb3;
}
.package{
  font-weight: bolder;
  color: #98fb98;
}
.slot{
  font-style:italic;
  color: #f5deb3;
}
.symbol{
  color: #f5deb3 ;
}
.prompt{
  color: #f5deb3 ;
}

