.number{
	color: #42cad9 ;
}

.functioncall{
	color: #26e0e7 ;
}

.string{
	color: #ffa0a0 ;
}

.keyword{
	font-weight: bolder ;
	color: #e2e825;
}

.argument{
	color: #ffffff ;
}

.comment{
	color: #80a0ff ;
}

.roxygencomment{
	color: #80a0ff;
}

.formalargs{
	color: #ffffff;
}

.eqformalargs{
	color: #ffffff;
}

.assignement{
	font-weight: bolder;
	color: #ffffff;
}

.package{
	color: ;
}

.slot{
	font-style:italic;
	color: #ffffff;
}

.symbol{
	color: #bababa ;
}

.prompt{
	color: #ffffff ;
}

