
.background{
  color: #000000 ;
}
.number{
	color: #d0e080 ;
}

.functioncall{
    font-weight: 'bolder' ;
	color: #7ff0a6 ;
}

.string{
	color: #d0e080 ;
}

.keyword{
	font-weight: bolder ;
	color: #8090f0;
}

.argument{
	color: #a0a0c0 ;
}

.comment{
	color: #606080 ;
}

.roxygencomment{
	color: #606080;
}

.formalargs{
	color: #a0a0c0;
}

.eqformalargs{
	color: #a0a0c0;
}

.assignement{
	color: #a0a0c0;
}

.package{
  font-weight: bolder;
	color: #e0e0ff;
}

.slot{
	font-style:italic;
	color: #a0a0c0;
}

.symbol{
	color: #cccccc ;
}

.prompt{
	color: #a0a0c0 ;
}

