.number{
	color: rgb(21,20,181) ;
}

.functioncall{
	color: red ;
}

.string{
	color: rgb(153,153,255) ;
}

.keyword{
	font-weight: bolder ;
	color: black;
}

.argument{
	color: rgb( 177,63,5) ;
}

.comment{
	color: rgb( 204,204,204) ;
}

.roxygencomment{
	color: rgb(0,151,255);
}

.formalargs{
	color: rgb(18,182,18);
}

.eqformalargs{
	color: rgb(18,182,18);
}

.assignement{
	font-weight: bolder;
	color: rgb(55,55,98);
}

.package{
	color: rgb(150,182,37);
}

.slot{
	font-style:italic;
}

.symbol{
	color: black ;
}

.prompt{
	color: black ;
}

