.background {
  color: #F7F7F7;
}
.num {
  color: #e12f76;
}
.str {
  color: #9999FF;
}
.com {
  color: #2E9957;
}
.opt {
  color: #000000;
}
.std {
  color: #333333;
}
.kwa {
  font-weight: bold;
  color: black;
}
.kwb {
  font-weight: bold;
  color: #000000;
}
.kwc {
  color: #B04005;
}
.kwd {
  color: #800054;
  font-weight: bold;
}
