.background {
  color: #000038;
}
.num {
  color: #33FF33;
}
.str {
  color: #CCCC99;
}
.com {
  color: #999999;
}
.opt {
  color: #FFFFFF;
}
.std {
  color: #FFFFFF;
}
.kwa {
  color: #FFFFCC;
}
.kwb {
  color: #33FF99;
}
.kwc {
  color: #33FF99;
}
.kwd {
  color: #9966cc;
}
