.background {
  color: #1f3048;
}
.num {
  color: #cdb7b5;
}
.str {
  color: #9ac0cd;
}
.com {
  color: #708090;
}
.opt {
  color: #fffff0;
}
.std {
  color: #fffff0;
}
.kwa {
  color: #f0e68c;
}
.kwb {
  color: #ffdead;
}
.kwc {
  color: #8bf0b3;
}
.kwd {
  color: #8bf0e6;
}
