
.background{
  color: #ffffff ;
}
.number{
	color: #a8660d ;
}

.functioncall{
    font-weight: 'bolder' ;
	color: #a89222 ;
}

.string{
	color: #a8660d ;
}

.keyword{
	font-weight: bolder ;
	color: #2239a8;
}

.argument{
	color: #000000 ;
}

.comment{
	color: #558817 ;
}

.roxygencomment{
	color: #558817;
}

.formalargs{
	color: #000000;
}

.eqformalargs{
	color: #000000;
}

.assignement{
	color: #000000;
}

.package{
  font-weight: bolder;
	color: #8c1d69;
}

.slot{
	font-style:italic;
	color: #000000;
}

.symbol{
	color: #000000 ;
}

.prompt{
	color: #000000 ;
}

