.background {
  color: #fff9b9;
}
.num {
  color: #e11a70;
}
.sng {
  color: #ca4be3;
}
.com {
  color: #1ea411;
  font-style: italic;
}
.opt {
  color: #fa4700;
}
.def {
  color: #2C7B34;
}
.kwa {
  color: #1d45d6;
  font-weight: bold;
}
.kwb {
  color: #ed0f55;
  font-weight: bold;
}
.kwc {
  color: #26aae7;
  font-weight: bold;
}
.kwd {
  color: #1d45d6;
}
