
.background{
  color: #fff9b9 ;
}
.number{
	color: #e11a70 ;
}

.functioncall{
    font-weight: 'bolder' ;
	color: #26aae7 ;
}

.string{
	color: #ca4be3 ;
}

.keyword{
	font-weight: bolder ;
	color: #1d45d6;
}

.argument{
	color: #2C7B34 ;
}

.comment{
	color: #1ea411 ;
}

.roxygencomment{
	color: #1ea411;
}

.formalargs{
	color: #2C7B34;
}

.eqformalargs{
	color: #2C7B34;
}

.assignement{
	color: #2C7B34;
}

.package{
  font-weight: bolder;
	color: #ed0f55;
}

.slot{
	font-style:italic;
	color: #2C7B34;
}

.symbol{
	color: #fa4700 ;
}

.prompt{
	color: #2C7B34 ;
}

