.background{
  color: #FFFFFF;
}
.number{
	color: #FF8000 ;
}

.functioncall{
	color: #000000 ;
}

.string{
	color: #CC0000 ;
}

.keyword{
	font-weight: bolder;
	color: #0000FF;
}

.argument{
	color: #000099 ;
}

.comment{
	color: #006600 ;
}

.roxygencomment{
	color: #006600;
}

.formalargs{
	color: #000099;
}

.eqformalargs{
	color: #000000;
}

.assignement{
	color: #000000;
}

.package{
	font-weight: bolder;
	color: #333333;
}

.slot{
	font-style:italic;
	color: #000000;
}

.symbol{
	color: #000099 ;
}

.prompt{
	color: #000000 ;
}

