
.background{
  color: #E0EAEE ;
}
.number{
	color: #B07E00 ;
}

.functioncall{
    font-weight: 'bolder' ;
	color: #000000 ;
}

.string{
	color: #BF0303 ;
}

.keyword{
	font-weight: bolder ;
	color: #000000;
}

.argument{
	color: #000000 ;
}

.comment{
	color: #838183 ;
}

.roxygencomment{
	color: #838183;
}

.formalargs{
	color: #000000;
}

.eqformalargs{
	color: #000000;
}

.assignement{
	color: #000000;
}

.package{
  font-weight: bolder;
	color: #0057AE;
}

.slot{
	font-style:italic;
	color: #000000;
}

.symbol{
	color: #000000 ;
}

.prompt{
	color: #000000 ;
}

