.background {
  color: #ffffff;
}
.num {
  color: #0000ff;
  font-weight: bold;
}
.sng {
  color: #a31515;
}
.com {
  color: #606060;
}
.opt {
  color: #000000;
}
.def {
  color: #000000;
}
.kwa {
  color: #0000ff;
}
.kwb {
  color: #0000ff;
}
.kwc {
  color: #2b91af;
}
.kwd {
  color: #2b91af;
}
