.background {
  color: #ffffff;
}
.num {
  color: #008800;
}
.str {
  color: #ddbb00;
}
.com {
  color: #ff0000;
  font-style: italic;
}
.opt {
  color: #000000;
}
.std {
  color: #000000;
}
.kwa {
  color: #000080;
  font-weight: bold;
}
.kwb {
  color: #000080;
}
.kwc {
  color: #0000ff;
}
.kwd {
  color: #000000;
}
