.background {
  color: #ffffff;
}
.num {
  color: #000000;
}
.str {
  color: #a31515;
}
.com {
  color: #008000;
}
.opt {
  color: #000000;
}
.std {
  color: #000000;
}
.kwa {
  color: #0000ff;
}
.kwb {
  color: #0000ff;
}
.kwc {
  color: #2b91af;
}
.kwd {
  color: #000000;
}
