.background {
  color: #ffffff;
}
.num {
  color: #000000;
}
.str {
  color: #bd8d8b;
}
.com {
  color: #ac2020;
  font-style: italic;
}
.opt {
  color: #000000;
}
.std {
  color: #000000;
}
.kwa {
  color: #9c20ee;
  font-weight: bold;
}
.kwb {
  color: #208920;
}
.kwc {
  color: #0000ff;
}
.kwd {
  color: #000000;
}
