.background {
  color: #E0EAEE;
}
.num {
  color: #B07E00;
}
.sng {
  color: #BF0303;
}
.com {
  color: #838183;
  font-style: italic;
}
.opt {
  color: #000000;
}
.def {
  color: #000000;
}
.kwa {
  color: #000000;
  font-weight: bold;
}
.kwb {
  color: #0057AE;
}
.kwc {
  color: #000000;
  font-weight: bold;
}
.kwd {
  color: #010181;
}
