
.background{
  color: #ffffff ;
}
.number{
  color: #000000 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #0000ff ;
}

.string{
  color: #bd8d8b ;
}

.keyword{
  font-weight: bolder ;
  color: #9c20ee;
}
.argument{
  color: #000000 ;
}
.comment{
  color: #ac2020 ;
}
.roxygencomment{
  color: #ac2020;
}
.formalargs{
  color: #000000;
}
.eqformalargs{
  color: #000000;
}
.assignement{
  color: #000000;
}
.package{
  font-weight: bolder;
  color: #208920;
}
.slot{
  font-style:italic;
  color: #000000;
}
.symbol{
  color: #000000 ;
}
.prompt{
  color: #000000 ;
}

