.background {
  color: #000000;
}
.num {
  color: #ff0000;
}
.sng {
  color: #ff0000;
}
.com {
  color: #0000ff;
}
.opt {
  color: #ffffff;
}
.def {
  color: #ffffff;
}
.kwa {
  color: #B26818;
}
.kwb {
  color: #00ff00;
}
.kwc {
  color: #B26818;
}
.kwd {
  color: #ffffff;
}
