
.background{
  color: #ffffff ;
}
.number{
  color: #0000ff ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #2b91af ;
}

.string{
  color: #a31515 ;
}

.keyword{
  font-weight: bolder ;
  color: #0000ff;
}
.argument{
  color: #000000 ;
}
.comment{
  color: #606060 ;
}
.roxygencomment{
  color: #606060;
}
.formalargs{
  color: #000000;
}
.eqformalargs{
  color: #000000;
}
.assignement{
  color: #000000;
}
.package{
  font-weight: bolder;
  color: #0000ff;
}
.slot{
  font-style:italic;
  color: #000000;
}
.symbol{
  color: #000000 ;
}
.prompt{
  color: #000000 ;
}

