.background {
  color: #ffffff;
}
.num {
  color: #2300ff;
}
.str {
  color: #c00000;
}
.com {
  color: #007f1c;
}
.opt {
  color: #000000;
}
.std {
  color: #000000;
}
.kwa {
  color: #8f0055;
}
.kwb {
  color: #8f0055;
}
.kwc {
  color: #8f0055;
}
.kwd {
  color: #000000;
}
