.background {
  color: #001535;
}
.num {
  color: #87c6f0;
  font-style: italic;
}
.str {
  color: #87c6f0;
  font-style: italic;
}
.com {
  color: #9590d5;
  font-style: italic;
}
.opt {
  color: #dedede;
}
.std {
  color: #dedede;
}
.kwa {
  color: #ffffff;
  font-weight: bold;
}
.kwb {
  color: #90bfd0;
}
.kwc {
  color: #9fd190;
}
.kwd {
  color: #d1909e;
}
