.background {
  color: #f8f8f8;
}
.num {
  color: #2020ff;
}
.sng {
  color: #2020ff;
}
.com {
  color: #ff00c0;
  font-style: italic;
}
.opt {
  color: #404048;
}
.def {
  color: #404048;
}
.kwa {
  color: #008858;
  font-weight: bold;
}
.kwb {
  color: #7040ff;
  font-weight: bold;
}
.kwc {
  color: #87002f;
  font-weight: bold;
}
.kwd {
  color: #404048;
  font-weight: bold;
}
