.background {
  color: #2a2a2a;
}
.num {
  color: #afe091;
}
.str {
  color: #afe091;
}
.com {
  color: #c2b680;
}
.opt {
  color: #dcdccc;
}
.std {
  color: #dcdccc;
}
.kwa {
  color: #e0af91;
  font-weight: bold;
}
.kwb {
  color: #dabfa5;
  font-weight: bold;
}
.kwc {
  color: #d792e0;
}
.kwd {
  color: #a6e1ff;
}
