.background{
  color: #000000;
}
.number{
	color: #FF0000 ;
}

.functioncall{
	color: #F7C527 ;
}

.string{
	color: #00a40f ;
}

.keyword{
	font-weight: bolder ;
	color: #999999;
}

.argument{
	color: #F7C527 ;
}

.comment{
	color: #666666 ;
}

.roxygencomment{
	color: #666666;
}

.formalargs{
	color: #F7C527;
}

.eqformalargs{
	color: #FFFFFF;
}

.assignement{
	font-weight: bolder;
	color: #00a40f;
}

.package{
	text-decoration: underline;
	color: #9CF828;
}

.slot{
	font-style:italic;
	color: #FFFFFF;
}

.symbol{
	color: #FFFFFF ;
}

.prompt{
	color: #FFFFFF ;
}

