.background {
  color: #f8f8f8;
}
.num {
  color: #8016ff;
}
.str {
  color: #ff6633;
}
.com {
  color: #ff4080;
}
.opt {
  color: #404040;
}
.std {
  color: #404040;
}
.kwa {
  color: #f030d0;
}
.kwb {
  color: #0070e6;
}
.kwc {
  color: #30f050;
}
.kwd {
  color: #b030f0;
}
