.number{
	color: #ffffff ;
}

.functioncall{
	color: #dedede ;
}

.string{
	color: #ff0000 ;
}

.keyword{
	font-weight: bolder ;
	color: #ffed8a;
}

.argument{
	color: #ddbb00 ;
}

.comment{
	color: #978345 ;
}

.roxygencomment{
	color: #978345;
}

.formalargs{
	color: #ddbb00;
}

.eqformalargs{
	color: #ddbb00;
}

.assignement{
	font-weight: bolder;
	color: #ddbb00;
}

.package{
	color: ;
}

.slot{
	font-style:italic;
	color: #ddbb00;
}

.symbol{
	color: #ababab ;
}

.prompt{
	color: #ddbb00 ;
}

