.background {
  color: #ffffff;
}
.num {
  color: #4D4D4D;
}
.sng {
  color: #4D4D4D;
}
.com {
  font-style: italic;
  color: #808080;
}
.opt {
  color: #1A1A1A;
}
.def {
  color: #1A1A1A;
}
.kwa {
  color: #1A1A1A;
}
.kwb {
  color: #1A1A1A;
}
.kwc {
  color: #4D4D4D;
}
.kwd {
  font-weight: bold;
  color: #1A1A1A;
}
