.background{
  color: #ffffff ;
}
.number{
	color: #2300ff ;
}

.functioncall{
	color: #8f0055 ;
}

.string{
	color: #c00000 ;
}

.keyword{
	font-weight: bolder ;
	color: #8f0055;
}

.argument{
	color: #000000 ;
}

.comment{
	color: #007f1c ;
}

.roxygencomment{
	color: #007f1c;
}

.formalargs{
	color: #000000;
}

.eqformalargs{
	color: #000000;
}

.assignement{
	font-weight: bolder;
	color: #000000;
}

.package{
	color: ;
}

.slot{
	font-style:italic;
	color: #000000;
}

.symbol{
	color: #000000 ;
}

.prompt{
	color: #000000 ;
}

