.number{
	color: #000000 ;
}

.functioncall{
	color: #0000b3 ;
}

.string{
	color: #666666 ;
}

.keyword{
	font-weight: bolder ;
	color: #0000b3;
}

.argument{
	color: #000000 ;
}

.comment{
	color: #b30000 ;
}

.roxygencomment{
	color: #b30000;
}

.formalargs{
	color: #000000;
}

.eqformalargs{
	color: #000000;
}

.assignement{
	font-weight: bolder;
	color: #000000;
}

.package{
	color: ;
}

.slot{
	font-style:italic;
	color: #000000;
}

.symbol{
	color: #000000 ;
}

.prompt{
	color: #000000 ;
}

