.background{
  color: #ffffff ;
}
.number{
	color: #2928ff ;
}

.functioncall{
	color: #000000 ;
}

.string{
	color: #ff0000 ;
}

.keyword{
	font-weight: bolder ;
	color: #000000;
}

.argument{
	color: #000000 ;
}

.comment{
	color: #838183 ;
}

.roxygencomment{
	color: #838183;
}

.formalargs{
	color: #000000;
}

.eqformalargs{
	color: #000000;
}

.assignement{
	font-weight: bolder;
	color: #000000;
}

.package{
	color: ;
}

.slot{
	font-style:italic;
	color: #000000;
}

.symbol{
	color: #000000 ;
}

.prompt{
	color: #000000 ;
}

