
.background{
  color: #000000 ;
}
.number{
  color: #ff875f ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #006bd6 ;
}

.string{
  color: #ffd7d7 ;
}

.keyword{
  font-weight: bolder ;
  color: #00d700;
}
.argument{
  color: #ffffff ;
}
.comment{
  color: #a8a8a8 ;
}
.roxygencomment{
  color: #a8a8a8;
}
.formalargs{
  color: #ffffff;
}
.eqformalargs{
  color: #ffffff;
}
.assignement{
  color: #ffffff;
}
.package{
  font-weight: bolder;
  color: #5fafff;
}
.slot{
  font-style:italic;
  color: #ffffff;
}
.symbol{
  color: #ffffff ;
}
.prompt{
  color: #ffffff ;
}

