.background {
  color: #001C42;
}
.num {
  color: #63759C;
}
.sng {
  color: #E7F3B5;
}
.com {
  color: #944D39;
}
.opt {
  color: #6A7969;
}
.def {
  color: #de9d7c;
}
.kwa {
  color: #907fd4;
}
.kwb {
  color: #29a655;
}
.kwc {
  color: #427142;
}
.kwd {
  color: #A59A39;
}
