
.background{
  color: #001C42 ;
}
.number{
	color: #63759C ;
}

.functioncall{
    font-weight: 'bolder' ;
	color: #427142 ;
}

.string{
	color: #E7F3B5 ;
}

.keyword{
	font-weight: bolder ;
	color: #907fd4;
}

.argument{
	color: #de9d7c ;
}

.comment{
	color: #944D39 ;
}

.roxygencomment{
	color: #944D39;
}

.formalargs{
	color: #de9d7c;
}

.eqformalargs{
	color: #de9d7c;
}

.assignement{
	color: #de9d7c;
}

.package{
  font-weight: bolder;
	color: #29a655;
}

.slot{
	font-style:italic;
	color: #de9d7c;
}

.symbol{
	color: #6A7969 ;
}

.prompt{
	color: #de9d7c ;
}

