.background {
  color: #000000;
}
.num {
  color: #00ffff;
}
.sng {
  color: #00ffff;
}
.com {
  color: #00ff00;
}
.opt {
  color: #ffff00;
}
.def {
  color: #cccccc;
}
.kwa {
  color: #00aaaa;
}
.kwb {
  color: #f70000;
}
.kwc {
  color: #5500ab;
}
.kwd {
  color: #00aaaa;
}
