.background {
  color: #000000;
}
.num {
  color: #55ff55;
}
.str {
  color: #ccff33;
}
.com {
  color: #226622;
}
.opt {
  color: #44cc44;
}
.std {
  color: #44cc44;
}
.kwa {
  color: #55ff55;
  font-weight: bold;
}
.kwb {
  color: #aaff54;
  font-weight: bold;
}
.kwc {
  color: #48d990;
}
.kwd {
  color: #54ffaa;
}
