.background{
  color: #f6f6f6 ;
}
.number{
  color: #880022 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #000066 ;
}
.string{
  color: #aa4400 ;
}
.keyword{
  font-weight: bolder ;
  color: #661111;
}
.argument{
  color: #000000 ;
}
.comment{
  color: #ff8800 ;
}
.roxygencomment{
  color: #ff8800;
}
.formalargs{
  color: #000000;
}
.eqformalargs{
  color: #000000;
}
.assignement{
  color: #000000;
}
.package{
  font-weight: bolder;
  color: #000066;
}
.slot{
  font-style:italic;
  color: #000000;
}
.symbol{
  color: #000000 ;
}
.prompt{
  color: #000000 ;
}

