.background{
  color: #272822;
}
.number{
	color: #7FB347 ;
}

.functioncall{
	color: #BED6FF ;
}

.string{
	color: #E6DB74 ;
}

.keyword{
  font-weight: bolder;
	color: #D8D8D8;
}

.argument{
	color: #79ABFF ;
}

.comment{
	color: #75715E ;
}

.roxygencomment{
	color: #CCDF32;
}

.formalargs{
	color: #BED6FF;
}

.eqformalargs{
	color: #F8F8F2;
}

.assignement{
	color: #F8F8F2;
}

.package{
	font-weight: bolder;
	color: #FFFFFF;
}

.slot{
	font-style:italic;
	color: #F8F8F2;
}

.symbol{
	color: #79ABFF ;
}

.prompt{
	color: #F8F8F2 ;
}

