.number{
	color: #0000FF ;
}

.functioncall{
	color: #000099 ;
}

.string{
	color: #CC0000 ;
}

.keyword{
	font-weight: bolder ;
	color: #0000FF;
}

.argument{
	color: #0066FF ;
}

.comment{
	color: #FF9900 ;
}

.roxygencomment{
	color: #FF9900;
}

.formalargs{
	color: #0066FF;
}

.eqformalargs{
	color: #333333;
}

.assignement{
	font-weight: bolder;
	color: #CC0000;
}

.package{
	color: #990000;
}

.slot{
	font-style:italic;
	color: #333333;
}

.symbol{
	color: #000099 ;
}

.prompt{
	color: #333333 ;
}

