.background {
  color: #35536f;
}
.num {
  color: #3fffa7;
}
.sng {
  color: #3fffa7;
}
.com {
  color: #e7e77f;
}
.opt {
  color: #ffffff;
}
.def {
  color: #ffffff;
}
.kwa {
  color: #5ad5d5;
  font-weight: bold;
}
.kwb {
  color: #d174a8;
  font-weight: bold;
}
.kwc {
  color: #98d65a;
  font-weight: bold;
}
.kwd {
  color: #ffffff;
  font-weight: bold;
}
