.background {
  color: #303030;
}
.num {
  color: #92d4ff;
}
.sng {
  color: #92d4ff;
}
.com {
  color: #c0c0c0;
}
.opt {
  color: #f0f0f0;
}
.def {
  color: #f0f0f0;
}
.kwa {
  color: #dcdc78;
}
.kwb {
  color: #60f0a8;
}
.kwc {
  color: #7979db;
}
.kwd {
  color: #db79aa;
}
