.background {
  color: #103040;
}
.num {
  color: #00ffff;
}
.str {
  color: #00ffff;
}
.com {
  color: #507080;
}
.opt {
  color: #e0eee0;
}
.std {
  color: #e0eee0;
}
.kwa {
  color: #90ee90;
}
.kwb {
  color: #add8e6;
}
.kwc {
  color: #cc99ff;
}
.kwd {
  color: #ff9999;
}
