.background{
  color: #103040 ;
}
.number{
  color: #00ffff ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #cc99ff ;
}
.string{
  color: #00ffff ;
}
.keyword{
  font-weight: bolder ;
  color: #90ee90;
}
.argument{
  color: #e0eee0 ;
}
.comment{
  color: #507080 ;
}
.roxygencomment{
  color: #507080;
}
.formalargs{
  color: #e0eee0;
}
.eqformalargs{
  color: #e0eee0;
}
.assignement{
  color: #e0eee0;
}
.package{
  font-weight: bolder;
  color: #add8e6;
}
.slot{
  font-style:italic;
  color: #e0eee0;
}
.symbol{
  color: #e0eee0 ;
}
.prompt{
  color: #e0eee0 ;
}

