.background {
  color: #303040;
}
.num {
  color: #b8b8c8;
}
.str {
  color: #f0f0f8;
}
.com {
  color: #e0e070;
}
.opt {
  color: #f0f0f8;
}
.std {
  color: #f0f0f8;
}
.kwa {
  color: #00d8f8;
}
.kwb {
  color: #bbaaff;
}
.kwc {
  color: #9d00f7;
}
.kwd {
  color: #cc66cc;
}
