.background {
  color: #333300;
}
.num {
  color: #ffddad;
}
.str {
  color: #afff2f;
}
.com {
  color: #bdb66b;
}
.opt {
  color: #D9D9C3;
}
.std {
  color: #D9D9C3;
}
.kwa {
  color: #8fbc8f;
  font-weight: bold;
}
.kwb {
  color: #daa520;
}
.kwc {
  color: #21d948;
}
.kwd {
  color: #D9D9C3;
}
