.background {
  color: #1E1616;
}
.num {
  color: #9C928C;
}
.str {
  color: #635D63;
}
.com {
  color: #C4674A;
}
.opt {
  color: #7B94AD;
}
.std {
  color: #C4B1A8;
}
.kwa {
  color: #49d4d6;
}
.kwb {
  color: #BA1919;
}
.kwc {
  color: #7B2421;
}
.kwd {
  color: #AD5139;
}
