
.background{
  color: #e0e0e0 ;
}
.number{
  color: #907000 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #a86920 ;
}

.string{
  color: #007068 ;
}

.keyword{
  font-weight: bolder ;
  color: #2060a8;
}
.argument{
  color: #000000 ;
}
.comment{
  color: #606000 ;
}
.roxygencomment{
  color: #606000;
}
.formalargs{
  color: #000000;
}
.eqformalargs{
  color: #000000;
}
.assignement{
  color: #000000;
}
.package{
  font-weight: bolder;
  color: #0850a0;
}
.slot{
  font-style:italic;
  color: #000000;
}
.symbol{
  color: #000000 ;
}
.prompt{
  color: #000000 ;
}

