.background {
  color: #ffffff;
}
.num {
  color: #000000;
}
.sng {
  color: #000000;
}
.com {
  color: #666666;
  font-style: italic;
}
.opt {
  color: #000000;
  font-weight: bold;
}
.def {
  color: #000000;
}
.kwa {
  color: #000000;
  font-weight: bold;
}
.kwb {
  color: #000000;
  font-weight: bold;
}
.kwc {
  color: #000000;
  font-weight: bold;
}
.kwd {
  color: #000000;
  font-weight: bold;
}
