.background {
  color: #ffffff;
}
.num {
  color: #0da344;
}
.str {
  color: #2b83ba;
}
.com {
  color: #ababab;
  font-style: italic;
}
.opt {
  color: #0000de;
}
.std {
  color: #121b28;
}
.kwa {
  color: #0a7f6d;
  font-weight: bold;
}
.kwb {
  color: #c42638;
  font-weight: bold;
}
.kwc {
  color: #e12f76;
}
.kwd {
  color: #2ac749;
}
