.background {
  color: #1e2426;
}
.num {
  color: #8ae234;
}
.sng {
  color: #8ae234;
}
.com {
  color: #656763;
}
.opt {
  color: #babdb6;
}
.def {
  color: #babdb6;
}
.kwa {
  color: #729fcf;
}
.kwb {
  color: #e3e7df;
}
.kwc {
  color: #cfa272;
}
.kwd {
  color: #9ebd77;
}
