
.background{
  color: #1e2426 ;
}
.number{
	color: #8ae234 ;
}

.functioncall{
    font-weight: 'bolder' ;
	color: #cfa272 ;
}

.string{
	color: #8ae234 ;
}

.keyword{
	font-weight: bolder ;
	color: #729fcf;
}

.argument{
	color: #babdb6 ;
}

.comment{
	color: #656763 ;
}

.roxygencomment{
	color: #656763;
}

.formalargs{
	color: #babdb6;
}

.eqformalargs{
	color: #babdb6;
}

.assignement{
	color: #babdb6;
}

.package{
  font-weight: bolder;
	color: #e3e7df;
}

.slot{
	font-style:italic;
	color: #babdb6;
}

.symbol{
	color: #babdb6 ;
}

.prompt{
	color: #babdb6 ;
}

