.background {
  color: #000000;
}
.num {
  color: #0099dd;
}
.str {
  color: #0099dd;
}
.com {
  color: #00a594;
}
.opt {
  color: #aaaaaa;
}
.std {
  color: #aaaaaa;
}
.kwa {
  color: #ac0000;
}
.kwb {
  color: #559955;
}
.kwc {
  color: #00abab;
}
.kwd {
  color: #ededed;
}
