
.background{
  color: #000000 ;
}
.number{
  color: #0099dd ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #00abab ;
}

.string{
  color: #0099dd ;
}

.keyword{
  font-weight: bolder ;
  color: #ac0000;
}
.argument{
  color: #aaaaaa ;
}
.comment{
  color: #00a594 ;
}
.roxygencomment{
  color: #00a594;
}
.formalargs{
  color: #aaaaaa;
}
.eqformalargs{
  color: #aaaaaa;
}
.assignement{
  color: #aaaaaa;
}
.package{
  font-weight: bolder;
  color: #559955;
}
.slot{
  font-style:italic;
  color: #aaaaaa;
}
.symbol{
  color: #aaaaaa ;
}
.prompt{
  color: #aaaaaa ;
}

