.background {
  color: #151b1d;
}
.num {
  color: #77dd88;
}
.sng {
  color: #77dd88;
}
.com {
  color: #656565;
}
.opt {
  color: #babdb6;
}
.def {
  color: #babdb6;
}
.kwa {
  color: #8fffff;
}
.kwb {
  color: #ffffff;
}
.kwc {
  color: #ff8f8f;
}
.kwd {
  color: #ededed;
}
