.background {
  color: #fff5ee;
}
.num {
  color: #ff1493;
}
.str {
  color: #ff1493;
}
.com {
  color: #2929cc;
}
.opt {
  color: #676767;
}
.std {
  color: #000000;
}
.kwa {
  color: #2e8b57;
  font-weight: bold;
}
.kwb {
  color: #2e8b57;
  font-weight: bold;
}
.kwc {
  color: #696969;
  font-weight: bold;
}
.kwd {
  color: #00008f;
}
