.background {
  color: #002b36;
}
.num {
  color: #dc322f;
}
.str {
  color: #dc322f;
}
.com {
  color: #586e75;
}
.opt {
  color: #93a1a1;
}
.std {
  color: #839496;
}
.kwa {
  color: #cb4b16;
}
.kwb {
  color: #859900;
}
.kwc {
  color: #cb4b16;
}
.kwd {
  color: #93a1a1;
}
