.background{
  color: #FDF6E3;
}
.number{
	color: #2AA198 ;
}

.functioncall{
	color: #657A81 ;
}

.string{
	color: #2AA198 ;
}

.keyword{
	font-weight: bolder ;
	color: #B58900;
}

.argument{
	color: #657A81 ;
}

.comment{
	color: #93A1A1 ;
}

.roxygencomment{
	color: #586E75;
}

.formalargs{
	color: #657A81;
}

.eqformalargs{
	color: #657A81;
}

.assignement{
	font-weight: bolder;
	color: #2AA198;
}

.package{
	color: #D30102;
}

.slot{
	font-style:italic;
	color: #657A81;
}

.symbol{
	color: #657A81 ;
}

.prompt{
	color: #657A81 ;
}

