.background {
  color: #fdf6e3;
}
.num {
  color: #dc322f;
}
.sng {
  color: #dc322f;
}
.com {
  color: #93a1a1;
}
.opt {
  color: #586e75;
}
.def {
  color: #657b83;
}
.kwa {
  color: #cb4b16;
}
.kwb {
  color: #859900;
}
.kwc {
  color: #cb4b16;
}
.kwd {
  color: #586e75;
}
