.background{
  color: #002B36;
}
.number{
	color: #2AA198 ;
}

.functioncall{
	color: #678CB1 ;
}

.string{
	color: #2AA198 ;
}

.keyword{
	font-weight: bolder ;
	color: #B58900;
}

.argument{
	color: #79ABFF ;
}

.comment{
	color: #586E75 ;
}

.roxygencomment{
	color: #7D8C93;
}

.formalargs{
	color: #79ABFF;
}

.eqformalargs{
	color: #D8D8D8;
}

.assignement{
	font-weight: bolder;
	color: #839496;
}

.package{
	text-decoration: underline;
	color: #D25252;
}

.slot{
	font-style:italic;
	color: #D8D8D8;
}

.symbol{
	color: #268BD2 ;
}

.prompt{
	color: #839496 ;
}

