
.background{
  color: #FFFFFF ;
}
.number{
  color: #666666 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #0066ff ;
}

.string{
  color: #666666 ;
}

.keyword{
  font-weight: bolder ;
  color: #FF9900;
}
.argument{
  color: #000000 ;
}
.comment{
  color: #000099 ;
}
.roxygencomment{
  color: #000099;
}
.formalargs{
  color: #000000;
}
.eqformalargs{
  color: #000000;
}
.assignement{
  color: #000000;
}
.package{
  font-weight: bolder;
  color: #FF9900;
}
.slot{
  font-style:italic;
  color: #000000;
}
.symbol{
  color: #000000 ;
}
.prompt{
  color: #000000 ;
}

