.number{
	color: #7FB347 ;
}

.functioncall{
	color: #FFFFFF ;
}

.string{
	color: #FFC600 ;
}

.keyword{
	font-weight: bolder ;
	color: #FFFFFF;
}

.argument{
	color: #D8D8D8 ;
}

.comment{
	color: #C7DD0C ;
}

.roxygencomment{
	color: #C7DD0C;
}

.formalargs{
	color: #D8D8D8;
}

.eqformalargs{
	color: #D8D8D8;
}

.assignement{
	font-weight: bolder;
	color: #FFC600;
}

.package{
	color: ;
}

.slot{
	font-style:italic;
	color: #D8D8D8;
}

.symbol{
	color: #D8D8D8 ;
}

.prompt{
	color: #D8D8D8 ;
}

