.background {
  color: #000000;
}
.num {
  color: #aaff00;
}
.sng {
  color: #bb00ff;
}
.com {
  color: #ababab;
  font-style: italic;
}
.opt {
  color: #F3E651;
}
.def {
  color: #ff0000;
}
.kwa {
  color: #ffffff;
  font-weight: bold;
}
.kwb {
  color: #F35E1E;
  font-weight: bold;
}
.kwc {
  color: #ffffff;
}
.kwd {
  color: #ffcc33;
}
