
.background{
  color: #000000 ;
}
.number{
  color: #aaff00 ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #ffffff ;
}

.string{
  color: #bb00ff ;
}

.keyword{
  font-weight: bolder ;
  color: #ffffff;
}
.argument{
  color: #ff0000 ;
}
.comment{
  color: #ababab ;
}
.roxygencomment{
  color: #ababab;
}
.formalargs{
  color: #ff0000;
}
.eqformalargs{
  color: #ff0000;
}
.assignement{
  color: #ff0000;
}
.package{
  font-weight: bolder;
  color: #F35E1E;
}
.slot{
  font-style:italic;
  color: #ff0000;
}
.symbol{
  color: #F3E651 ;
}
.prompt{
  color: #ff0000 ;
}

