.number{
	color: #477488 ;
}

.functioncall{
	color: #EC691E ;
}

.string{
	color: #477488 ;
}

.keyword{
	font-weight: bolder ;
	color: #EC691E;
}

.argument{
	color: #22a0d6 ;
}

.comment{
	color: #8146A2 ;
}

.roxygencomment{
	color: #8C3FC8;
}

.formalargs{
	color: #22a0d6;
}

.eqformalargs{
	color: #22a0d6;
}

.assignement{
	font-weight: bolder;
	color: #22a0d6;
}

.package{
	color: ;
}

.slot{
	font-style:italic;
	color: #22a0d6;
}

.symbol{
	color: #ccc6c6 ;
}

.prompt{
	color: #22a0d6 ;
}

