.background{
  color: #191919;
}
.number{
	color: #477488 ;
}

.functioncall{
	color: #F7C527 ;
}

.string{
	color: #477488 ;
}

.keyword{
	font-weight: bolder ;
	color: #EC691E;
}

.argument{
	color: #3C758D ;
}

.comment{
	color: #8146A2 ;
}

.roxygencomment{
	color: #8C3FC8;
}

.formalargs{
	color: #3C758D;
}

.eqformalargs{
	color: #FFFFFF;
}

.assignement{
	font-weight: bolder;
	color: #477488;
}

.package{
	text-decoration: underline;
	color: #9CF828;
}

.slot{
	font-style:italic;
	color: #FFFFFF;
}

.symbol{
	color: #FFFFFF ;
}

.prompt{
	color: #FFFFFF ;
}

