.number{
	color: #ff0000 ;
}

.functioncall{
	color: #B26818 ;
}

.string{
	color: #ff0000 ;
}

.keyword{
	font-weight: bolder ;
	color: #B26818;
}

.argument{
	color: #ffffff ;
}

.comment{
	color: #0000ff ;
}

.roxygencomment{
	color: #0000ff;
}

.formalargs{
	color: #ffffff;
}

.eqformalargs{
	color: #ffffff;
}

.assignement{
	font-weight: bolder;
	color: #ffffff;
}

.package{
	color: ;
}

.slot{
	font-style:italic;
	color: #ffffff;
}

.symbol{
	color: #ffffff ;
}

.prompt{
	color: #ffffff ;
}

