.background{
  color: #FFFFFF;
}
.number{
	color: #FF8000 ;
}

.functioncall{
	color: #FF00FF ;
}

.string{
	color: #808080 ;
}

.keyword{
	font-weight: bolder;
	color: #0000FF;
}

.argument{
	color: #000080 ;
}

.comment{
	color: #008000 ;
}

.roxygencomment{
	color: #800080;
}

.formalargs{
	color: #000080;
}

.eqformalargs{
	color: #000000;
}

.assignement{
	color: #000000;
}

.package{
	font-weight: bolder;
	color: #2B91AF;
}

.slot{
	font-style:italic;
	color: #000000;
}

.symbol{
	color: #000080 ;
}

.prompt{
	color: #000000 ;
}

