.background {
  color: #ffffff;
}
.num {
  color: #bb00ff;
}
.str {
  color: #008800;
}
.com {
  color: #1326a2;
  font-style: italic;
}
.opt {
  color: #696969;
}
.std {
  color: #696969;
}
.kwa {
  color: #696969;
  font-weight: bold;
}
.kwb {
  color: #696969;
}
.kwc {
  color: #696969;
  font-weight: bold;
}
.kwd {
  color: #000000;
}
