
.background{
  color: #ffffff ;
}
.number{
  color: #bb00ff ;
}
.functioncall{
  font-weight: 'bolder' ;
  color: #696969 ;
}

.string{
  color: #008800 ;
}

.keyword{
  font-weight: bolder ;
  color: #696969;
}
.argument{
  color: #696969 ;
}
.comment{
  color: #1326a2 ;
}
.roxygencomment{
  color: #1326a2;
}
.formalargs{
  color: #696969;
}
.eqformalargs{
  color: #696969;
}
.assignement{
  color: #696969;
}
.package{
  font-weight: bolder;
  color: #696969;
}
.slot{
  font-style:italic;
  color: #696969;
}
.symbol{
  color: #696969 ;
}
.prompt{
  color: #696969 ;
}

