.background {
  color: #1c1c1c;
}
.num {
  color: #dfaf87;
}
.str {
  color: #ffffaf;
}
.com {
  color: #808080;
}
.opt {
  color: #d0d0d0;
}
.std {
  color: #d0d0d0;
}
.kwa {
  color: #87afdf;
}
.kwb {
  color: #87de8c;
}
.kwc {
  color: #deb787;
}
.kwd {
  color: #de87da;
}
