
.background{
  color: #ffffff ;
}
.number{
	color: #ff0066 ;
}

.functioncall{
    font-weight: 'bolder' ;
	color: #225f2d ;
}

.string{
	color: #ff00ff ;
}

.keyword{
	font-weight: bolder ;
	color: #a52a2a;
}

.argument{
	color: #000000 ;
}

.comment{
	color: #ff0000 ;
}

.roxygencomment{
	color: #ff0000;
}

.formalargs{
	color: #000000;
}

.eqformalargs{
	color: #000000;
}

.assignement{
	color: #000000;
}

.package{
  font-weight: bolder;
	color: #0000ff;
}

.slot{
	font-style:italic;
	color: #000000;
}

.symbol{
	color: #000000 ;
}

.prompt{
	color: #000000 ;
}

