.background {
  color: #1f1f1f;
}
.num {
  color: #dca3a3;
  font-weight: bold;
}
.str {
  color: #cc9393;
}
.com {
  color: #7f9f7f;
  font-style: italic;
}
.opt {
  color: #dcdccc;
}
.std {
  color: #dcdccc;
}
.kwa {
  color: #e3ceab;
}
.kwb {
  color: #dfdfbf;
  font-weight: bold;
}
.kwc {
  color: #aae3b2;
}
.kwd {
  color: #aabfe3;
}
