.number{
	color: #8ACCCF ;
}

.functioncall{
	color: #DFBE95 ;
}

.string{
	color: #CC9393 ;
}

.keyword{
	font-weight: bolder ;
	color: #EFEFAF;
}

.argument{
	color: #F6F3E8 ;
}

.comment{
	color: #7F9F7F ;
}

.roxygencomment{
	color: #7F9F7F;
}

.formalargs{
	color: #F6F3E8;
}

.eqformalargs{
	color: #F6F3E8;
}

.assignement{
	font-weight: bolder;
	color: #CC9393;
}

.package{
	color: ;
}

.slot{
	font-style:italic;
	color: #F6F3E8;
}

.symbol{
	color: #FFFFFF ;
}

.prompt{
	color: #F6F3E8 ;
}

