
.background{
  color: #141414 ;
}
.number{
	color: #FACE43 ;
}

.functioncall{
    font-weight: 'bolder' ;
	color: #30a630 ;
}

.string{
	color: #D9FF77 ;
}

.keyword{
	font-weight: bolder ;
	color: #A56A30;
}

.argument{
	color: #F8F8F8 ;
}

.comment{
	color: #888888 ;
}

.roxygencomment{
	color: #888888;
}

.formalargs{
	color: #F8F8F8;
}

.eqformalargs{
	color: #F8F8F8;
}

.assignement{
	color: #F8F8F8;
}

.package{
  font-weight: bolder;
	color: #C7CA87;
}

.slot{
	font-style:italic;
	color: #F8F8F8;
}

.symbol{
	color: #F8F8F8 ;
}

.prompt{
	color: #F8F8F8 ;
}

