.background {
  color: #141414;
}
.num {
  color: #FACE43;
}
.sng {
  color: #D9FF77;
}
.com {
  color: #888888;
}
.opt {
  color: #F8F8F8;
}
.def {
  color: #F8F8F8;
}
.kwa {
  color: #A56A30;
  font-weight: bold;
}
.kwb {
  color: #C7CA87;
}
.kwc {
  color: #30a630;
}
.kwd {
  color: #3b84cc;
}
