S3method(knit_print,default)
S3method(knit_print,knit_asis)
S3method(process_group,block)
S3method(process_group,inline)
S3method(process_tangle,block)
S3method(process_tangle,inline)
S3method(wrap,character)
S3method(wrap,default)
S3method(wrap,error)
S3method(wrap,knit_asis)
S3method(wrap,list)
S3method(wrap,message)
S3method(wrap,recordedplot)
S3method(wrap,source)
S3method(wrap,warning)
export(Sweave2knitr)
export(all_labels)
export(all_patterns)
export(asis_output)
export(current_input)
export(dep_auto)
export(dep_prev)
export(eclipse_theme)
export(fig_path)
export(hook_ffmpeg_html)
export(hook_movecode)
export(hook_optipng)
export(hook_pdfcrop)
export(hook_plot_asciidoc)
export(hook_plot_custom)
export(hook_plot_html)
export(hook_plot_md)
export(hook_plot_rst)
export(hook_plot_tex)
export(hook_plot_textile)
export(hook_purl)
export(hook_r2swf)
export(hook_rgl)
export(hook_scianimator)
export(hook_webgl)
export(image_uri)
export(imgur_upload)
export(kable)
export(knit)
export(knit2html)
export(knit2pdf)
export(knit2wp)
export(knit_child)
export(knit_engines)
export(knit_exit)
export(knit_expand)
export(knit_global)
export(knit_hooks)
export(knit_meta)
export(knit_patterns)
export(knit_print)
export(knit_rd)
export(knit_rd_all)
export(knit_theme)
export(normal_print)
export(opts_chunk)
export(opts_current)
export(opts_knit)
export(opts_template)
export(pandoc)
export(pat_asciidoc)
export(pat_brew)
export(pat_html)
export(pat_md)
export(pat_rnw)
export(pat_rst)
export(pat_tex)
export(pat_textile)
export(plot_crop)
export(purl)
export(rand_seed)
export(read_chunk)
export(read_demo)
export(read_rforge)
export(render_asciidoc)
export(render_html)
export(render_jekyll)
export(render_latex)
export(render_listings)
export(render_markdown)
export(render_rst)
export(render_sweave)
export(render_textile)
export(rocco)
export(rst2pdf)
export(set_alias)
export(set_header)
export(set_parent)
export(spin)
export(stitch)
export(stitch_rhtml)
export(stitch_rmd)
export(wrap_rmd)
export(write_bib)
import(stringr)
importFrom(evaluate,evaluate)
importFrom(evaluate,is.error)
importFrom(evaluate,is.message)
importFrom(evaluate,is.recordedplot)
importFrom(evaluate,is.source)
importFrom(evaluate,is.warning)
importFrom(formatR,tidy.source)
