export(all_patterns)
export(hook_pdfcrop)
export(hook_rgl)
export(knit)
export(knit_hooks)
export(knit_patterns)
export(opts_chunk)
export(opts_knit)
export(render_gfm)
export(render_html)
export(render_jekyll)
export(render_latex)
export(render_markdown)
export(render_sweave)
importFrom(digest,digest)
importFrom(evaluate,evaluate)
importFrom(evaluate,is.error)
importFrom(evaluate,is.message)
importFrom(evaluate,is.recordedplot)
importFrom(evaluate,is.source)
importFrom(evaluate,is.warning)
importFrom(formatR,tidy.source)
importFrom(highlight,boxes_latex)
importFrom(highlight,highlight)
importFrom(highlight,renderer_html)
importFrom(highlight,renderer_latex)
importFrom(highlight,styler)
importFrom(tools,file_ext)
importFrom(utils,modifyList)
import(stringr)
S3method(wrap,character)
S3method(wrap,error)
S3method(wrap,list)
S3method(wrap,message)
S3method(wrap,recordedplot)
S3method(wrap,source)
S3method(wrap,warning)
