<% within(doccolors, {  -%>
.background{
  color: <%= background %>;
}
.number{
	color: <%= number %> ;
}

.functioncall{
	color: <%= method %> ;
}

.string{
	color: <%= string %> ;
}

.keyword{
	font-weight: bolder ;
	color: <%= keyword %>;
}

.argument{
	color: <%= localVariable %> ;
}

.comment{
	color: <%= singleLineComment %> ;
}

.roxygencomment{
	color: <%= multiLineComment %>;
}

.formalargs{
	color: <%= localVariable %>;
}

.eqformalargs{
	color: <%= foreground %>;
}

.assignement{
	font-weight: bolder;
	color: <%= string %>;
}

.package{
	text-decoration: underline;
	color: <%= class %>;
}

.slot{
	font-style:italic;
	color: <%= foreground %>;
}

.symbol{
	color: <%= bracket %> ;
}

.prompt{
	color: <%= foreground %> ;
}
<% }) %>
