
.background{
  color: #002b36 ;
}
.number{
	color: #dc322f ;
}

.functioncall{
    font-weight: 'bolder' ;
	color: #cb4b16 ;
}

.string{
	color: #dc322f ;
}

.keyword{
	font-weight: bolder ;
	color: #cb4b16;
}

.argument{
	color: #839496 ;
}

.comment{
	color: #586e75 ;
}

.roxygencomment{
	color: #586e75;
}

.formalargs{
	color: #839496;
}

.eqformalargs{
	color: #839496;
}

.assignement{
	color: #839496;
}

.package{
  font-weight: bolder;
	color: #859900;
}

.slot{
	font-style:italic;
	color: #839496;
}

.symbol{
	color: #93a1a1 ;
}

.prompt{
	color: #839496 ;
}

