.background {
  color: #000000;
}
.num {
  color: #ffffff;
}
.sng {
  color: #ff0000;
}
.com {
  color: #978345;
  font-style: italic;
}
.opt {
  color: #ababab;
}
.def {
  color: #ddbb00;
}
.kwa {
  color: #ffed8a;
  font-weight: bold;
}
.kwb {
  color: #ffed8a;
}
.kwc {
  color: #dedede;
  font-weight: bold;
}
.kwd {
  color: #ddbb00;
  font-weight: bold;
}
