.background {
  color: #1a202a;
}
.num {
  color: #8b8b00;
}
.sng {
  color: #5B5BD0;
}
.com {
  color: #006666;
}
.opt {
  color: #8b9aaa;
}
.def {
  color: #8b9aaa;
}
.kwa {
  color: #9966cc;
}
.kwb {
  color: #ffcc00;
}
.kwc {
  color: #cc6666;
}
.kwd {
  color: #99cc66;
}
