<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
  <!--[if gte IE 9]><!-->
  <html>
    <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | Yihui Xie</title>
    <base href="/knit" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Typekit script -->
    <script type="text/javascript" src="http://use.typekit.com/xnr7evu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 <script src="https://www.google.com/jsapi?key=ABQIAAAAzwp5edGWqlvIykO2q23PjRRNsl9Rf-MdYUjjCB-KZyY6gQXaIxTVJvVL1QqN_pX7ntidDPBczHGVnQ" type="text/javascript"></script>
      <script>google.load("jquery", "1.6.2"); </script>
    <meta name="author" content="Yihui Xie" />

    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/code_highlights.css">
    <link rel="stylesheet" href="/css/widescreen.css"/>

    <link rel="apple-touch-icon" sizes="114x114" href="/images/avatar.png"/>

    <meta name="description" content="knit: an R package for general-purpose literate programming."/>
  </head>
    <body lang="en" id="main-layout"   class="vcard ">
      <header id="masthead">
      <div class="wrapper">
        <a id="logo" href="/" rel="author">
          <div>
            <figure class="jk-logo frame">
            <img src="/knit/images/avatar.png" alt="Yihui Xie"/>
            </figure>
            <h1 class="fn">Yihui Xie</h1>
            <p class="title">Statistical Graphics &amp; Computing</p>
          </div>
        </a>
        <nav>
        <ul>
          <li class="index">
          <a href="/">
            <span>Home</span>
          </a>
          </li>
          <li class="projects">
          <a href="/objects">
            <span>Objects</span>
          </a>
          </li>
          <li class="projects">
          <a href="/options">
            <span>Options</span>
          </a>
          </li>
          <li class="projects">
          <a href="/patterns">
            <span>Patterns</span>
          </a>
          </li>
          <li class="Demo">
          <a href="/demo">
            <span>Demo</span>
          </a>
          </li>
        </ul>
        </nav>
      </div>
      </header>

      <article id="content" class="hentry">

      <header>
      <div>
        <h1 class="entry-title">{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
      </div>
      </header>

      <div class="wrapper">
        <div class="entry-content">
        {{ content }}
      </div>
      </div>

      </article>

      <footer id="colophon">
      <div class="wrapper">
        <p>
        Feedback is always welcome at <a href="https://github.com/yihui/knit/issues">the issues page</a> or by email (<code>paste('xie', '@', 'yihui.name', sep = '')</code>).
        </p>

          <section id="copyright">
          <p>
          &copy; 2011 Yihui Xie </a>.
          </p>
          </section>
        </div>
        </footer>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-1988641-6']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

       </body>
     </html>
