<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
  <!--[if gte IE 9]><!-->
  <html>
    <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}: {{ page.subtitle }} | knitr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Yihui Xie" />
    <link rel="stylesheet" href="{{ site.url }}/css/main.css" />
    <link rel="stylesheet" href="{{ site.url }}/css/code_highlights.css" />
    <link rel="stylesheet" href="{{ site.url }}/css/widescreen.css" />
    <!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/avatar.png"/>

    <meta name="description" content="knitr: an R package for general-purpose dynamic report generation."/>
  </head>
    <body lang="en" id="main-layout"   class="vcard ">
      <header id="masthead">
      <div class="wrapper">
        <a id="logo" href="http://yihui.name" rel="author">
          <div>
            <figure class="jk-logo frame">
            <img src="{{ site.url }}/images/avatar.png" alt="Yihui Xie" title="Yihui Xie" />
            </figure>
          </div>
        </a>
        <nav>
        <ul>
          <li class="index">
          <a href="{{ site.url }}/">
            <span>Home</span>
          </a>
          </li>
          <li class="projects">
          <a href="{{ site.url }}/objects">
            <span>Objects</span>
          </a>
          </li>
          <li class="projects">
          <a href="{{ site.url }}/options">
            <span>Options</span>
          </a>
          </li>
          <li class="projects">
          <a href="{{ site.url }}/hooks">
            <span>Hooks</span>
          </a>
          </li>
          <li class="projects">
          <a href="{{ site.url }}/patterns">
            <span>Patterns</span>
          </a>
          </li>
          <li class="projects">
          <a href="{{ site.url }}/demos">
            <span>Demos</span>
          </a>
          </li>
        </ul>
        </nav>
      </div>
      </header>

      <article id="content" class="hentry">

      <header>
      <div>
	<img style="float:right" src="{{ site.url }}/images/knit-logo.png" />
        <h1 class="entry-title">{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
      </div>
      </header>

      <div class="wrapper">
        <div class="entry-content">
        {{ content }}
      </div>
      </div>

      </article>

      <footer id="colophon">
      <div class="wrapper">
          <section id="copyright">
          <div>If you have any questions, please consider asking them on <em><a href="http://stackoverflow.com/questions/tagged/knitr">StackOverflow</a></em>, where you may get more attention and fast answers.</div>
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'yihui'; // required: replace example with your forum shortname
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <p>
          <span style="float:right;">&copy; 2011-2013 <a href="http://yihui.name">Yihui Xie</a> | Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">CC-BY-NC</a> |
          <a href="https://github.com/yihui/knitr/issues" title="Go to GitHub Issues">Feedback</a> | <a href="https://groups.google.com/group/knitr">Mailing list</a></span>
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="xieyihui">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
          <g:plusone size="small"></g:plusone>
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
          </p>
          </section>
        </div>
        </footer>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-1988641-6']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <script type="text/javascript" src="{{ site.url }}/js/nocomment.js"></script>
       </body>
     </html>
