<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
  <!--[if gte IE 9]><!-->
  <html>
    <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | dynamic report generation with R | Yihui Xie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Yihui Xie" />
    <link rel="stylesheet" href="/knitr/css/main.css" />
    <link rel="stylesheet" href="/knitr/css/code_highlights.css" />
    <link rel="stylesheet" href="/knitr/css/widescreen.css" />
    <!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="114x114" href="/knitr/images/avatar.png"/>

    <meta name="description" content="knitr: an R package for general-purpose dynamic report generation."/>
  </head>
    <body lang="en" id="main-layout"   class="vcard ">
      <header id="masthead">
      <div class="wrapper">
        <a id="logo" href="http://yihui.name" rel="author">
          <div>
            <figure class="jk-logo frame">
            <img src="/knitr/images/avatar.png" alt="Yihui Xie" title="Yihui Xie" />
            </figure>
          </div>
        </a>
        <nav>
        <ul>
          <li class="index">
          <a href="/knitr/">
            <span>Home</span>
          </a>
          </li>
          <li class="projects">
          <a href="/knitr/objects">
            <span>Objects</span>
          </a>
          </li>
          <li class="projects">
          <a href="/knitr/options">
            <span>Options</span>
          </a>
          </li>
          <li class="projects">
          <a href="/knitr/hooks">
            <span>Hooks</span>
          </a>
          </li>
          <li class="projects">
          <a href="/knitr/patterns">
            <span>Patterns</span>
          </a>
          </li>
          <li class="projects">
          <a href="/knitr/demos">
            <span>Demos</span>
          </a>
          </li>
        </ul>
        </nav>
      </div>
      </header>

      <article id="content" class="hentry">

      <header>
      <div>
	<img style="float:right" src="/knitr/images/knit-logo.png" />
        <h1 class="entry-title">{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
      </div>
      </header>

      <div class="wrapper">
        <div class="entry-content">
        {{ content }}
      </div>
      </div>

      </article>

      <footer id="colophon">
      <div class="wrapper">
          <section id="copyright">
          <p>
          <span style="float:right;">&copy; 2011 <a href="http://yihui.name">Yihui Xie</a> | <a href="https://github.com/yihui/knitr/issues" title="Go to GitHub Issues page or email me by paste('xie', '@', 'yihui.name', sep = '')">Feedback</a></span><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="xieyihui">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
          <g:plusone size="small"></g:plusone>
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
          <div id="fb-root" style="display: inline-block;"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-like" style="display: inline-block;" data-send="true" data-layout="button_count" data-width="90" data-show-faces="true"></div>
          </p>
          </section>
        </div>
        </footer>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-1988641-6']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

       </body>
     </html>
