on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:

name: Check knitr examples

jobs:
  run-examples:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})${{ matrix.config.extra-package && ' - with dev evaluate'|| ''}}

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest, r: 'release'}
          - {os: ubuntu-latest,  r: 'release', extra-package: 'github::r-lib/evaluate'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      DISPLAY: ':99.0'
      RGL_USE_NULL: TRUE
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-tinytex@v2-branch
        env:
          # install full prebuilt version
          TINYTEX_INSTALLER: TinyTeX

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: deps::.
          extra-packages: |
            XML
            ${{ matrix.config.extra-package }}

      - name: Retrieve knitr-examples
        # On PR, it will checkout same branch if it exists there
        uses: ./.github/actions/checkout-knitr-examples

      - name: Install knitr-example dev
        run: install.packages(readLines("knitr-examples/R-packages"))
        shell: Rscript {0}

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install -y libpoppler-cpp-dev graphviz asymptote highlight coffeescript scala optipng ghostscript

      - name: Install CTAN dependencies
        run: |
          tinytex::tlmgr_install("dvisvgm")
        shell: Rscript {0}

      - name: Check knitr-examples
        run: |
          rm knitr-examples/cache -rf
          make integration
        shell: bash

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: knitr-examples
          path:
            knitr-examples/[0-9][0-9][0-9]-*.*
          retention-days: 7
